<!-- 11-10 copied bottom part with loop from member-list.html but all of flak-home.ts from flak-flak -->
<!--   copied top part from flak-flak.html -->

<div class="text-center mt-3">
    <h2>Total messages count for you - {{pagination?.totalItems}} found</h2>
</div>

<div class="row" *ngIf="flaks?.length === 0">
  <h3>No flaks to report </h3>
</div>

<!-- Do no think following code will create probels - later have types active and inactive -->
<div class="row mb-4">
  <div class="btn-group" name='container'>

      <!-- <button class="btn btn-primary" btnRadio='Unread' [(ngModel)]="container"
          (click)="loadFlaks()">
          <i class="fa fa-envelope"></i> Unread
      </button> -->

      <button class="btn btn-primary" btnRadio='Inbox' [(ngModel)]="container"
          (click)="loadFlaks()">
          <i class="fa fa-envelope-open"></i> Inbox
      </button>
      <button class="btn btn-primary" btnRadio='Outbox' [(ngModel)]="container"
          (click)="loadFlaks()">
          <i class="fa fa-paper-plane"></i> Outbox
      </button>
  </div>
</div>

<!-- Original member-list modified in flak-fkal.html to test app-member-messages -->
<!-- Screen layout is line by line -->
<!-- <div class="row" *ngIf="flaks?.length > 0">
  <table class="table table-hover" style="cursor: pointer">
      <tr>
          <th style="width: 40%">Flak</th>
          <th style="width: 20%">From / To</th>
          <th style="width: 20%">Sent / Received</th>
          <th style="width: 20%"></th>
      </tr>
      <tr [hidden]="loading" *ngFor="let flak of flaks"
          routerLink='{{container === "Outbox"
              ? "/members/" + flak.recipientUsername
              : "/members/" + flak.senderUsername}}' [queryParams]='{tab: 3}' >
          <td>{{flak.content}}</td>
          <td>
              <div *ngIf="container === 'Outbox'">
                  <img
                      class="img-circle rounded-circle mr-2"
                      src="{{flak.recipientPhotoUrl || './assets.user.png'}}"
                      alt="{{flak.recipientUsername}}">
                  <strong>{{flak.recipientUsername | titlecase}}</strong>
              </div>
              <div *ngIf="container !== 'Outbox'">
                  <img
                      class="img-circle rounded-circle mr-2"
                      src="{{flak.senderPhotoUrl || './assets.user.png'}}"
                      alt="{{flak.senderUsername}}">
                  <strong>{{flak.senderUsername | titlecase}}</strong>
              </div>
          </td>
          <td>{{flak.flakSent | timeago}}</td>
          <td>
              <button (click)="$event.stopPropagation()" (click)="deleteFlak(flak.id)" class='btn btn-danger'>Delete</button>
          </td>
      </tr>
  </table>
</div> -->



<!-- below from member-list.html modified for messages code NOT in flak-flak.html which is line by line -->
<div class="row">
    <div *ngFor="let flak of flaks" class="col-2">
        <app-flak-card [flak]="flak"></app-flak-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
</pagination>
</div>

