<!-- 11/10 need to change to flakdto -->

<div *ngIf="!submitted" class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{'./assets/user.png'}}" alt="{{entry.orgName}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">

            <li class="list-inline-item">
                <button
                    routerLink='/reply/{{entry.id}}'
                    class="btn btn-primary">
                    <i class="fa fa-user"></i>
                </button> </li>

                <!-- (click)="onChoice()" -->
            <!-- routerLink='/reply/{{entry.id}}' changed to use @output instread of link 01-15-21 -->
                               <!-- [queryParams]='{tab: 0}' -->
            <!-- routerLink='/members/{{member.username}}'  from member-card.html -->

            <li class="list-inline-item">
                <button
                    routerLink='/reply/{{entry.id}}'
                    class="btn btn-primary">
                    <i class="fa fa-envelope"></i>
                </button> </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2"></i>
            {{entry.id}}
        </h6>
        <p class="card-text text-muted text-center">{{entry.dateCreated | date: 'dd MMM yyyy'}}</p>
        <p class="card-text text-muted text-center">{{entry.subject}}</p>
        <p class="card-text text-muted text-center">{{entry.orgName}}</p>
    </div>
</div>

<div *ngIf="submitted" >
  <!-- <app-reply-fhoto-edit
      [entry] = "entryOut"
  >
</app-reply-fhoto-edit> -->

</div>
