
<h2>  ENTRY-DETAIL fhotos length: {{fhotos.length}} </h2>

<!-- <div class="text-center">
    <button
      routerLink='/members'
      class="btn btn-primary">
      Go To Main Nav
    </button>
</div> -->


<div class="row">
    <div class="col-8">
        <tabset class="entry-tabset" #entryTabs>

            <tab heading='Message' (selectTab)="onTabActivated($event)">
                <h4>Subject</h4>
                <p>{{entry.subject}}</p>
                <h4>Content</h4>
                <p>{{entry.content}}</p>
            </tab>

            <tab heading='Photos' (selectTab)="onTabActivated($event)">
              <div *ngIf="fhotos.length > 0" >
                <button
                  (click)="loadFhotos()"
                  class="btn btn-sm"
                  >Click To Show All Fhotos
                </button>

                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
              </div>
              <div *ngIf="fhotos.length < 1" >
                  <h5> No Photos Were loaded </h5>
              </div>


            </tab>

            <tab heading='Business' (selectTab)="onTabActivated($event)">
              <h4>Business Name</h4>
              <p>{{place?.gname}}</p>
              <h4>Address</h4>
              <p>{{place?.fullAddress}}</p>
              <h4>Phone Number</h4>
              <p>{{place?.phone}}</p>
          </tab>

        </tabset>
    </div>
</div>
