<!-- 11/16 copied from register -->

<p>entrys-form works!</p>

<form [formGroup]='entryForm' (ngSubmit)="entryForm.valid && postEntry()" autocomplete="off">
  <h2 class="text-center text-primary">Enter a new Entry</h2>
  <hr>

  <app-text-input [formControl]='entryForm.controls["subject"]'
      [label]='"Subject"'></app-text-input>
  <app-text-input [formControl]='entryForm.controls["content"]'
      [label]='"Content"'></app-text-input>

  <!-- <app-date-input [formControl]='registerForm.controls["dateOfBirth"]'
      [label]='"Date Of Birth"' [maxDate]='maxDate'></app-date-input> -->

  <!-- <app-text-input [formControl]='entryForm.controls["orgId"]'
      [label]='"City"'></app-text-input> -->

  <app-text-input [formControl]='entryForm.controls["orgName"]'
      [label]='"OrgName"'></app-text-input>


  <!-- <div class="form-group">
        <label class="control-label" style="margin-right: 10px;">I am a: </label>
        <label class="radio-inline">
            <input type="radio" value='male' formControlName='gender'> Male
        </label>
        <label class="radio-inline">
            <input type="radio" value='female' formControlName='gender' class="ml-3"> Female
        </label>
  </div> -->


  <div class="row" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
          <li *ngFor="let error of validationErrors">
              {{error}}
          </li>
      </ul>
  </div>

  <div class="form-group text-center">
      <button [disabled]='!entryForm.valid' class="btn btn-success mr-2" type="submit">Save Entry</button>
      <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel Entry</button>
  </div>
</form>
