
<!-- First call is to app-nav wich calls nav-mine -->

<!-- <app-nav></app-nav> -->

<p> at top of my nav 1 </p>
<!-- <p> at top of my nav 2 </p>
<p> at top of my nav 3 </p>
<p> at top of my nav 4 </p> -->

<div class="container">

  <button class="btn btn-primary" type="button"
    routerLink="/replies" routerLinkActive="active"
    >Home
  </button>

  <button class="btn btn-secondary" type="button"
    routerLink="/creates" routerLinkActive="active"
    >Message
  </button>

  <button class="btn btn-success" type="button"
    routerLink="/notifys" routerLinkActive="active"
    >Notify
  </button>

  <button class="btn btn-info" type="button"
    routerLink="/rewards" routerLinkActive="active"
    >Rewards
  </button>

  <button class="btn btn-warning" type="button"
    routerLink="/helps" routerLinkActive="active"
    >Help
  </button>

  <button class="btn btn-danger" type="button"
    routerLink="/lists" routerLinkActive="active"
    >Lists
  </button>

</div>

<!-- <p> at bottom of my nav</p> -->
<!-- <router-outlet></router-outlet> -->
