<!-- <p>entry-list works!</p> -->

<!-- <app-entry-jsontest> </app-entry-jsontest>  this was just to test  -->

<!-- call google -->
<!-- call message -->

<!-- <app-entry-content
    [entry]="passedEntry"
    (newEntryEvent)="updateEntry($event)"
 > </app-entry-content> -->

<!-- <app-entry-google
    [place]="passedPlace"
    (newPlaceEvent)="updatePlace($event)"
 > </app-entry-google> -->



<!-- <p>
  entry : {{entryOne.formSubmitted}} -- place ; {{placeOne.formSubmitted}}
</p> -->


 <!-- screen print -->
 <div *ngIf="entryOne.formSubmitted && placeOne.formSubmitted"  >
  <div>
    <p>Business Name : {{placeOne.gname}} </p>
    <p>Business Address : {{placeOne.fullAddress}} </p>
    <br>
    <p>Subject : {{entryOne.subject}} </p>
    <p>Message : {{entryOne.content}} </p>
    <p>Rating  : {{entryOne.starRating}} </p>
    <p>Anony   : {{entryOne.useAnony}} </p>
  </div>

    <div class="text-center">
      <!-- <button class="btn btn-primary mr-1">Submit</button> -->
        <button
          routerLink='/efhoto/{{entryOne.id}}'
          class="btn btn-primary">
          Enter Photos
        </button>

      <button class="btn btn-secondary" type="reset" (click)="onReset()">Clear Form</button>
    </div>
</div>


