
<!-- copied member-detail.html 12-23 removed ngIf cause using resolver -->

<!-- Section for the card on the left side -->
<div *ngIf="!sendToFlakMessage" class="row">
  <div class="col-4">
      <div class="card">
          <img src="{{'./assets/user.png'}}" alt="{{entry.orgName}}"
              class="card-img-top img-thumbnail">
          <div class="card-body">
              <div>
                  <strong>Subject:</strong>
                  <p>{{entry.subject}}</p>
              </div>
              <div>
                  <strong>Business:</strong>
                  <p>{{entry.orgName}}</p>
              </div>

              <div>
                  <strong>Date Created:</strong>
                  <p>{{entry.dateCreated | date: 'dd MMM yyyy'}}</p>
              </div>
          </div>
          <div class="card-footer">
              <div class="btn-group d-flex">
                  <button class="btn btn-primary">Like</button>
                  <button (click)="selectTab(3)" class="btn btn-success">Message</button>
              </div>
          </div>
      </div>
  </div>

  <!-- Section for the entry tabs -->
  <div class="col-8">
      <tabset class="entry-tabset" #entryTabs>

          <!-- Section for entry content -->
          <tab heading='About {{entry.subject}}' (selectTab)="onTabActivated($event)">
              <h4>Description </h4>
              <p>{{entry.content}}</p>
          </tab>

          <!-- Section for Fhotos -->
          <tab heading='Entry photos' (selectTab)="onTabActivated($event)" >
              <p> will be fhotos </p>
          </tab>

          <!-- flaks tab logic copied from member-message has line which lins to flaks-list (or detail) -->
          <!-- Section for Flaks -->

          <tab heading='Flaks' (selectTab)="onTabActivated($event)" >

            <button (click)="sendToFlakIndicator()" class="btn btn-success">Create New Flak?</button>

            <!-- <button routerLink="/flak" class="btn btn-primary">Create New Flak? </button> -->

            <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
              <div class="container">
                  <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Click To Create New Flak =></a>
                  <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                              <a class="nav-link" routerLink='/flak' routerLinkActive='active' >New Reply</a>
                          </li>
                  </ul>
              </div>
            </nav> -->

            <!-- <p> will be button to create new Flak </p> -->
            <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                  style="display: inline-block; margin-bottom: 20px;"></ngx-gallery> -->


            <div class="row" *ngIf="flaks?.length === 0">
              <h3>No flaks</h3>
            </div>

              <div class="row" *ngIf="flaks?.length > 0">
                <table class="table table-hover" style="cursor: pointer">
                  <tr>
                          <th style="width: 40%">Subject</th>
                          <th style="width: 20%">From / To</th>
                          <th style="width: 20%">Date Sent</th>
                          <th style="width: 20%">No Label</th>
                  </tr>
                      <!-- <tr [hidden]="loading" *ngFor="let flak of flaks"  -->
                      <tr [hidden]='loading' *ngFor="let flak of flaks"

                        routerLink=
                          "/flak/{{flak.id}}"
                          [queryParams]= "{tab: 0}" >

                          <td> {{flak.subject}}</td>
                          <td>
                              <!-- <div>
                                  <img
                                      class="img-circle rounded-circle mr-2"
                                      src="{{message.senderPhotoUrl || './assets.user.png'}}"
                                      alt="{{message.senderUsername}}">
                                  <strong>{{message.senderUsername | titlecase}}</strong>
                              </div>  -->
                          </td>

                          <!-- <td>{{flak.dateCreated | timeago}}</td> -->
                          <td>
                              <!-- <button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" class='btn btn-danger'>Delete</button> -->
                          </td>
                      </tr>
                </table>
            </div>
          </tab>

              <!-- Section For Business Contacts -->
          <tab heading='Business Contacts' (selectTab)="onTabActivated($event)" >
                <p> will be gplaces </p>
              <!-- <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages> -->
          </tab>
      </tabset>
  </div>
</div>

                <!-- call flak message -->
                <div *ngIf = "sendToFlakMessage">
                  <app-flak-content
                     [PassedEntry]="entry"
                  > </app-flak-content>
               </div>
