<!-- <p>entrys-list works!</p> -->

<!-- <h2> no match value {{noMatch}} </h2> -->

  <!-- <div class="card-footer">
      <div class="btn-group d-flex">
          <button class="btn btn-primary"> Topper button Like</button>
          <button (click)="listEntry()" class="btn btn-success"> Get Subject Another button </button>
      </div>
  </div> -->

  <!-- <div>
    <strong>Id:</strong>
    <p>Should be id value {{entrys?.id}}</p>
</div> -->

  <!-- <div>
    <strong>Subject:</strong>
    <p>Should be value {{entry?.subject}}</p>
</div> -->

<!-- <router-outlet></router-outlet> -->

  <div >
    <div *ngFor="let entry of entrys" >
      <strong>Subject:</strong>
      <p>Should be value {{entry?.subject}}</p>
      <strong>Content:</strong>
      <p>Should be value {{entry?.content}}</p>
      <strong>Username:</strong>
      <p>Should be value {{entry?.userName}}</p>
        <!-- <app-entrys-card>  [entry]="entry"  </app-entrys-card> -->
    </div>
  </div>



