<!-- 12-28 copied from reply-list early before 12-28 changes -->
<!-- copied member-detail.html 12-23 removed ngIf cause using resolver -->

<div class="row">
    <!-- <div class="col-4">
        <div class="card">
            <img src="{{'./assets/user.png'}}" alt="{{flak.orgName}}"

                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Subject:</strong>
                    <p>{{flak.subject}}</p>
                </div>
                <div>
                    <strong>Business:</strong>
                    <p>{{flak.orgName}}</p>
                </div>

                <div>
                    <strong>Date Created:</strong>
                    <p>{{flak.dateCreated | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button (click)="selectTab(3)" class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="col-8"></div>  take out col-8 -->
    <div>
        <tabset class="entry-tabset" #flakTabs>
            <tab heading='Message' (selectTab)="onTabActivated($event)">
              <h4>Subject </h4>
              <p>{{flak.subject}}</p>
              <h4>Description </h4>
              <p>{{flak.content}}</p>
            </tab>

            <tab heading='Flak Photos' (selectTab)="onTabActivated($event)" >
                <p> will be photos </p>
            </tab>

            <!-- <tab heading='Flaks' (selectTab)="onTabActivated($event)" >
              <p> flak ? not sure need this </p> -->
                <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery> -->
            <!-- </tab> -->

            <!-- <tab heading='Business Contacts' (selectTab)="onTabActivated($event)" >
                  <p> will be placess not sure need this </p> -->
                <!-- <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages> -->
            <!-- </tab> -->

        </tabset>
    </div>
</div>
